<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>fgohQgQk58Wsh5UPsr2k1lWnB85ScB4/rcRY/FTL7ODiYudQaGePYpoYUiXQ6WhDxVih14r9ULByrKPzH06X8luPse28dqIF39T196nHWQgoiWEwonu5FT5eeFecSIcu6IViGuZDPq7szlwIMar5RO4UiDnuIhMFcoyVAd7q4ro=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>yXma/59DLpHRlRzNC7p3YBqj7rQeZyCQAJ+eQe2vUofZ3hiU74jCdOA5pY5l5rjiKk5c19Z8ePa2yC5Fu3d0gSbNiGFdN3u03GzFOS5KXY/IAhSrE23ZIKprqPMnaqcJxlwE3qf+KvuXApve26OE6VApawREP1oqvJyGlDxnbVbzfaOu6PJBZHhgn9V9hoZp+rUsuS5R/3j6jBdxITmdumflmDHKH6ekgjBGKdYpbVYRgxvSzHfDdmAhk4TdGnSY0rz+BCHa9s3XriwLCC7urXK27Mtl++s5o9Wdfu85L/IQlBfjAvP5JgmQw5KWh7ihA+iH09s34idjpea0voIWvcTtchP9JB+9e/CKKiCRPyOnMEVeRRf/2kXTZYiXIztD1nJSvwew0Ypsj6c00NQQEPZOlBPfgUNJNgcM1ZiiPmysb0apEmaJFnk185DBFTuhjT4z5MB+eJk6Uj27J6GDfLy8rCz3CHXlPYpx7hTSBqdjByky52P3NxICPOxB91MA</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
