<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>Eo6CzXxHbwTAHgL4MXpgy4kmiWBKqL0Cp6q8BCo9xEmOd7DCx08ltpHKbpjBbLBJthUNasNApFqeDBEbjoEEzsb4qLdvIhFkxID5FCCUO+iKgeClyO2K0WoZ+2QOVUDjGA0ayj2cbfpt7Zv66+StN+Z480lyHOOrDYUIJKligrs=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>OJjSDg3xmhGuacqzHJBcilu7kvbi1A6iplPybS0m06o=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
</configuration>