<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>bnZHgMk4vc5c5aMIXRSu/Cnv5jRaYl2y8Yg9EtoNlh6/6leEYCq24i2dAwuHOUO2l1DTkni5ECi00rcjCCQ0b9d/NLW8f8iM05XqBdSoqLf4VDWAsKOc+0LMQWhxfuJSFNs47xzsDXY43QCIZ6z8TuOQN4JF6DXxg7ZmWnY/ZAE=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>UKnhJEcwiC3JE+vZPW557AWHKoRqBcx1H3SIBJ8j80/UIg3a2kUFvyyqtEfWQ7PjsLkOHOfSZfu1Ix88T8tZ2k1vWhNdiycMEhzYmi/JsROfup7Smgu8twAJQ/L9YnztbvU/PGeMSkjcq+lMLgnKELzdU+dQhzb0idR2PmnCC5cBc2+Y3HvBCc7BLJSjXfOgy060+jxcm2pDu8uNSF7DLIO5aSC66XVgqjBgxK2S8+Lpjb+8NsKGv0ld1fAkViJ7VEQa143FOUNAbTRFt9p6uqg07ve3YJqfbywTGStKsf5qRFG7jXvnVgCJx9jl4jfdurRFSVUOYReX3JxzMjsXXo4//DDmpR5hHjOsgFmEbR5wBuFyF7WlnlBOQlk5aKQLVEpjOSNKRn9E1DpUYRcVHALvFCHzi7amc1Rg6CzJFHuC9P0y7Koz4Wc4YHggvulUTAbNbITpeMgYRbG2CpA56Ip4roGa03UGl1KRpOhRY10D+aizrBnR9E/Tc9CoS+xn</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
</configuration>